:root {

  --dark-blue: hsl(233, 26%, 24%);
  --lime-green: hsl(136, 65%, 51%);
  --bright-cyan: hsl(192, 70%, 51%);
  --grayish-blue: hsl(233, 8%, 62%);
  --light-grayish-blue: hsl(220, 16%, 96%);
  --very-light-gray: hsl(0, 0%, 98%);
  --white: hsl(0, 0%, 100%);
  --btn-bg-color: linear-gradient(to right, hsl(136, 65%, 51%), hsl(192, 70%, 51%));

}

$dark-blue: var(--dark-blue);
$lime-green: var(--lime-green);
$bright-cyan:var(--bright-cyan);
$grayish-blue:var(--grayish-blue);
$light-grayish-blue:var(--light-grayish-blue);
$very-light-gray:var(--very-light-gray);
$light-grayish-blue:var(--light-grayish-blue);
$white:var(--white);
$btn-bg-color:var(--btn-bg-color);




