@use "colors.scss" as *;


body{
    background-color: $white;
}


.bg-very-light-grey{
    background-color: $very-light-gray;
    // background-color: red;
}

.bg-light-grayish-blue{
    background-color: $light-grayish-blue;
}

.box-spacing{
    padding-top: 100px!important;
    padding-bottom: 100px!important;
}

footer{
    background-color: $dark-blue;
    color: $white;
    padding-top: 50px;
    padding-bottom: 50px;
}