@use "colors.scss" as *;

h1 {
    font-weight: 400;
    color: $dark-blue;
    font-size: 2rem;
}

h6{
    font-weight: 400;
    color: $grayish-blue;
    font-size: 12px;
}

p{
    color: $grayish-blue;
}

.heading{
    font-size: 3rem;
}

.feature{
    font-size: 1.5rem;
}


// a,
// a:visited,
// a:active {
//   text-decoration: none;
// }
